

.carousel-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.employee {
    flex: 0 0 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

button.carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:first-child {
    left: 0;
}

button:last-child {
    right: 0;
}

.employee-card {
    background-color: #083457;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-card img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.employee-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.employee-card p {
    font-size: 14px;
    color: #555;
}


