body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    overflow: hidden; /* Para manejar el float y evitar problemas de diseño */
}

button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right; /* Alinea el botón a la derecha */
}

.color{
    background-color: blue;
}

