@using API.Controllers
@using CAPA_DATOS.Security
<!DOCTYPE html>
<html lang="es">
{
    string identify = Context.Session.GetString("seassonKey");
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Introduction</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Casa.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.20.7, nicepage.com">
    <meta name="referrer" content="origin">
   
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    </head>
    <body>
        <p>La estructura organizativa de la Universidad se caracteriza por ser integradora, de acuerdo al
Proyecto Institucional. La UNAN-Managua cuenta con un Consejo Universitario, Rectorado, 
Consejos Facultativos, Consejos de Institutos y Centros de Investigación, Departamentos 
Docentes y diferentes Unidades Administrativas que implementan una gestión de conjunto 
con base a una visión compartida, siendo la integración un eje transversal en nuestra 
Institución, que permite movilizar al personal de dirección alrededor de una mesa, como un 
equipo que actúa de forma coherente. (UNAN-Managua 2015, p.12)
Por lo tanto, las relaciones formales para la consecución de los objetivos, en la estructura 
orgánica de la universidad, están basadas bajo la relación principal de autoridad lineal, la 
relación de autoridad funcional y relación de asesoría, de los cuales se clasifican a 
continuación. (Barone, 2009)</p>
    </body>
    </html>