@page
@model SNI_UI2.Pages.Usav.VideosModel
@using API.DatabaseModels
@{
    Layout = "_Layout_Usav";
}

<section class="galleryvideo">
    <h2 class="titulo">NUESTRO TRABAJO</h2>
    <div class="conten">
        @foreach(var video in new Videos().Get<Videos>())
        {
            <div class="contenedor-imagen">
                <a href="~/usav/videos?id=@video.Id">
                    <img class="img" src="@video.ImagenURL" alt="">
                    <img src="/imagenes/iconoPlay.png" class="icono-play" alt="Icono de reproducción">
                </a>
            </div>
        }
    </div>
</section>




