@page
@{
  Layout = "_Layout_Usav";
}

<section class="galleryvideo">
    <div class="conten">
        <a href="~/usav/videos?videoId=be3AtvAWttU">
        <img class="img"  src="https://i.ytimg.com/an_webp/be3AtvAWttU/mqdefault_6s.webp?du=3000&sqp=CMaivqsG&rs=AOn4CLC3dlUI4Av6dr1zS99iqxNEWWlb-g" alt="">
        </a>   
    </div>
   
</section>
