@page
@{

  Layout = "_Layout_Usav";

}




<section class="u-align-left u-clearfix u-image u-shading u-section-1" id="carousel_e579" src="" data-image-width="4606"
  data-image-height="3071">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img src="/imagenes/LOGOUSAVFINAL-03.png" alt="" class="u-image u-image-default u-image-1" data-image-width="2071"
      data-image-height="1453" data-animation-name="customAnimationIn" data-animation-duration="1500">
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <a href="~/unan/index"
              class="u-active-custom-color-3 u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-border-none u-btn u-button-style u-custom-color-6 u-custom-item u-hover-custom-color-3 u-btn-1"
              data-animation-name="customAnimationIn" data-animation-duration="1500"
              data-animation-delay="1000">Institucion</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <a href="https://www.unan.edu.ni/"
              class="u-active-custom-color-3 u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-border-none u-btn u-button-style u-custom-color-6 u-custom-item u-hover-custom-color-3 u-btn-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">Pagina
              Oficial</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <a href="https://sigi.unan.edu.ni/PortalSIGI/Account/Login?ReturnUrl=%2fPortalSIGI%2f"
              class="u-active-custom-color-3 u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-border-none u-btn u-button-style u-custom-color-6 u-custom-item u-hover-custom-color-3 u-btn-3"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">Portal
              Estudiantil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-container-align-center u-custom-color-4 u-section-2"
  id="carousel_1c62" data-animation-name="" data-animation-duration="0" data-animation-delay="0"
  data-animation-direction="">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="0">¿Que hacemos?</h2>
    <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500"
      data-animation-delay="250"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-container-align-center-xs u-container-style u-custom-color-4 u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-1"
          data-href="https://nicepage.com" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
            <h6
              class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-3">
              <span class="u-icon u-text-white u-icon-1"><svg class="u-svg-content" viewBox="0 0 41.999 41.999" x="0px"
                  y="0px" style="width: 1em; height: 1em;">
                  <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40
	c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20
	c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z"></path>
                </svg></span>&nbsp;​Creacion de videos
            </h6>
          </div>
        </div>
        <div
          class="u-container-align-center-xs u-container-style u-custom-color-4 u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-2"
          data-href="https://nicepage.com" data-animation-direction="Up" data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
            <h6
              class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-4">
              <span class="u-file-icon u-icon u-text-white u-icon-2"><img src="/imagenes/596092-f1040135.png"
                  alt=""></span>&nbsp;​Digital Marketing
            </h6>
          </div>
        </div>
        <div
          class="u-container-align-center-xs u-container-style u-custom-color-4 u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-3"
          data-href="https://nicepage.com" data-animation-direction="Up" data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
            <h6
              class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-5">
              <span class="u-file-icon u-icon u-text-white u-icon-3"><img src="/imagenes/1436404-06c08091.png"
                  alt=""></span>&nbsp;​App Development&nbsp;<br>
            </h6>
          </div>
        </div>
        <div
          class="u-container-align-center-xs u-container-style u-custom-color-4 u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-4"
          data-href="https://nicepage.com" data-animation-direction="Up" data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="750">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
            <h6
              class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-6">
              <span class="u-file-icon u-icon u-text-white u-icon-4"><img src="/imagenes/1388394-e4656d54.png"
                  alt=""></span>&nbsp;Diseño grafico
            </h6>
          </div>
        </div>
        <div
          class="u-container-align-center-xs u-container-style u-custom-color-4 u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-5"
          data-href="https://nicepage.com" data-animation-direction="Up" data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="750">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
            <h6
              class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-7">
              <span class="u-file-icon u-icon u-text-white u-icon-5"><img src="/imagenes/1014398-5c5f242c.png"
                  alt=""></span>&nbsp;​Logo Design
            </h6>
          </div>
        </div>
        <div
          class="u-container-align-center-xs u-container-style u-custom-color-4 u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-6"
          data-href="https://nicepage.com" data-animation-direction="Up" data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="750">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6">
            <h6
              class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-8">
              <span class="u-file-icon u-icon u-text-white u-icon-6"><img src="/imagenes/10332393-b911b15d.png"
                  alt=""></span>&nbsp;​Desarrollo web
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-white u-section-3" id="carousel_9413">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-border-3 u-border-custom-color-2 u-custom-color-2 u-shape u-shape-svg u-text-custom-color-3 u-shape-1"
      data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X"
      data-animation-delay="500">
      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e858"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        xml:space="preserve" class="u-svg-content" viewBox="-1.5 -1.5 163 163" x="0px" y="0px" id="svg-e858"
        style="enable-background:new 0 0 160 160;">
        <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
      </svg>
    </div>
    <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-2" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="750">
      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a0bf"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-a0bf"
        style="enable-background:new 0 0 160 160;">
        <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
      </svg>
    </div>
    <div class="u-image u-image-circle u-image-1" data-image-width="2071" data-image-height="1453"
      data-animation-name="customAnimationIn" data-animation-duration="1500"></div>
    <div class="u-custom-color-5 u-shape u-shape-circle u-shape-3" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="500"></div>
    <div
      class="u-align-left u-container-align-left u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-white u-group-1"
      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-align-left u-text u-text-1"> Our mission is to harmonize human design with digital technology.</h2>
        <p class="u-align-left u-large-text u-text u-text-variant u-text-2">Nibh venenatis cras sed felis eget velit
          aliquet sagittis id. Tellus pellentesque eu tincidunt tortor aliquam nulla. </p>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-palette-5-light-2 u-section-4" id="carousel_b6a0">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-col">
          <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <div class="u-shape u-shape-svg u-text-custom-color-5 u-shape-1" data-animation-name="customAnimationIn"
                data-animation-duration="1500" data-animation-delay="500">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a0bf"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-a0bf"
                  style="enable-background:new 0 0 160 160;">
                  <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                </svg>
              </div>
              <div class="u-border-14 u-border-custom-color-4 u-image u-image-circle u-image-1" data-image-width="1709"
                data-image-height="1140" data-animation-name="flipIn" data-animation-duration="1500"
                data-animation-direction="X" data-animation-delay="500"></div>
              <div alt="" class="u-align-left u-border-12 u-border-custom-color-6 u-image u-image-circle u-image-2"
                data-image-width="4360" data-image-height="2907" data-animation-name="customAnimationIn"
                data-animation-duration="1500" data-animation-delay="250"></div>
              <div class="u-align-center-sm u-align-center-xs u-custom-color-3 u-shape u-shape-circle u-shape-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500"></div>
            </div>
          </div>
          <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2"
            data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-container-layout-2">
              <h2 class="u-align-center u-text u-text-1"> Our Philosophy</h2>
              <p class="u-align-center u-text u-text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi ipsum faucibus vitae aliquet nec. Sodales
                ut etiam sit amet nisl. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Viverra
                accumsan in nisl nisi scelerisque eu. Elementum sagittis vitae et leo duis ut diam quam. Rhoncus mattis
                rhoncus urna neque. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->
<section class="u-align-center u-clearfix u-custom-color-4 u-section-5" id="sec-f48e">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-default u-text-1">Our Team</h1>
    <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-left u-container-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout carousel u-similar-container u-container-layout-1">
            <div class="custom-expanded u-image u-image-circle u-image-1" alt="" data-image-width="1280"
              data-image-height="774"></div>
            <h4 class="u-align-center u-text u-text-2">Sample Headline</h4>
            <p class="u-align-center u-text u-text-3">Sample text. Click to select the text box. Click again or double
              click to start editing the text.</p>
          </div>
        </div>
        <div class="u-align-left u-container-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <div class="custom-expanded u-image u-image-circle u-image-2" alt="" data-image-width="1280"
              data-image-height="774"></div>
            <h4 class="u-align-center u-text u-text-4">Sample Headline</h4>
            <p class="u-align-center u-text u-text-5">Sample text. Click to select the text box. Click again or double
              click to start editing the text.</p>
          </div>
        </div>
        <div class="u-align-left u-container-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <div class="custom-expanded u-image u-image-circle u-image-3" alt="" data-image-width="1280"
              data-image-height="774"></div>
            <h4 class="u-align-center u-text u-text-6">Sample Headline</h4>
            <p class="u-align-center u-text u-text-7">Sample text. Click to select the text box. Click again or double
              click to start editing the text.</p>
          </div>
        </div>
        <div class="u-align-left u-container-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-4">
            <div class="custom-expanded u-image u-image-circle u-image-4" alt="" data-image-width="1280"
              data-image-height="774"></div>
            <h4 class="u-align-center u-text u-text-8">Sample Headline</h4>
            <p class="u-align-center u-text u-text-9">Sample text. Click to select the text box. Click again or double
              click to start editing the text.</p>
          </div>
        </div>
      </div>
      <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
        href="#" role="button">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.847 451.847">
            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
          </svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.847 451.847">
            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
          </svg>
        </span>
      </a>
      <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
        href="#" role="button">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.846 451.847">
            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
          </svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.846 451.847">
            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>

<section class="u-align-center u-clearfix u-image u-valign-middle-lg u-section-7" id="carousel_9283"
  data-image-width="1980" data-image-height="1200">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-left u-container-align-center u-container-style u-layout-cell u-size-22-lg u-size-25-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1"
            data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-align-center u-text u-text-1">Acerca de nosotros</h2>
              <p class="u-align-center u-text u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut.</p>
            </div>
          </div>
          <div
            class="u-align-left u-container-style u-image u-layout-cell u-radius u-size-35-xl u-size-38-lg u-size-60-md u-size-60-sm u-size-60-xs u-image-1"
            data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"
            data-image-width="4645" data-image-height="3097">
            <div class="u-container-layout u-container-layout-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

</section>

