@page
@{
    Layout = "_Layout_Usav";
}

<h1>videos</h1>
<section class="u-align-center u-clearfix u-custom-color-2 u-section-6" id="carousel_1896">


























  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="0">Nuestros Trabajos</h2>
    <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500"
      data-animation-delay="250"> Estamos emocionados de ser parte de tu viaje creativo y transformar tus ideas en
      videos impactantes. ¡Contacta con nosotros y hagamos magia juntos!</p>
    <div class="custom-expanded u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-1"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="444" data-image-height="444">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-1">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-3"> Brand Campaign</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-4"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-2"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="444" data-image-height="444">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-2">
              <div class="u-container-layout u-valign-middle u-container-layout-4">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-5"> A Corporate Identity
                </h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-6"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-3"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="626" data-image-height="626">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-3">
              <div class="u-container-layout u-valign-middle u-container-layout-6">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-7"> Web Design Website
                </h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-8"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-4"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="626" data-image-height="626">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-7">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-4">
              <div class="u-container-layout u-valign-middle u-container-layout-8">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-9"> Lightboxes</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-10"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-5"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="700" data-image-height="705">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-9">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-5">
              <div class="u-container-layout u-valign-middle u-container-layout-10">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-11">Flyer design</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-12"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-6"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="700" data-image-height="705">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-11">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-6">
              <div class="u-container-layout u-valign-middle u-container-layout-12">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-13">Applications</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-14"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-7"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="626" data-image-height="626">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-13">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-7">
              <div class="u-container-layout u-valign-middle u-container-layout-14">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-15"> Business cards</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-16"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-8"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
          data-image-width="800" data-image-height="533">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-15">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-8">
              <div class="u-container-layout u-valign-middle u-container-layout-16">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-17">Responsive design</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-18"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-9"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"
          data-image-width="462" data-image-height="417">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-17">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-9">
              <div class="u-container-layout u-valign-middle u-container-layout-18">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-19">Applications</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-20">UI / UX</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-10"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"
          data-image-width="626" data-image-height="417">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-19">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-10">
              <div class="u-container-layout u-valign-middle u-container-layout-20">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-21">Applications</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-22">UI / UX</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-11"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"
          data-image-width="626" data-image-height="626">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-21">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-11">
              <div class="u-container-layout u-valign-middle u-container-layout-22">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-23"> Business cards</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-24"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-image u-image-default u-list-item u-repeater-item u-shape-round u-image-12"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"
          data-image-width="845" data-image-height="816">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-23">
            <div
              class="u-container-align-center u-container-style u-expanded-width u-gradient u-group u-opacity u-opacity-80 u-group-12">
              <div class="u-container-layout u-valign-middle u-container-layout-24">
                <h5 class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-25"> Business cards</h5>
                <p class="u-align-center u-hover-feature u-text u-text-body-alt-color u-text-26"> Graphic Design</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
















</section>
